@import "tailwindcss";


.degraded::before{
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at center, rgba(160, 160, 160, 0.2) 0%, transparent 60%);
    filter: blur(20px);
    mix-blend-mode: screen;
    pointer-events: none;
}