*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background-color: #1f1814;
  color:rgba(255,255,255,0.7);
  font-family: inter;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}


/* RESPLANDECIENTE CENTRAL -------- */ 

.degraded::before{
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at center, #a0a0a066 0%, transparent 60%);
    filter: blur(25px);
}

/* BUTTON 1 (SC) -------- */ 

.button1{
  background: none;
  border:1px solid rgba(255,255,255,0.3);
  display:flex;
  border-radius: 10px;

  img{
    height:12px;
  }
  span{
    background-color: rgba(255,255,255,0.1);
    padding:12px 22px;
    margin:3px;
      border-radius: 6px;
    
    a{  
      display:flex;
      align-items: center;
      gap:8px;
      font-size: 12px;
      color:rgba(255,255,255,0.7);
    }

  }
}

/* -------- NAVBAR (C) -------- */ 

.navbar{
  background-color:#1f1814 ;
  position:fixed;
  z-index: 3;
  display:flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding:15px 20px;
  width:100vw;
  
  div{
    position:relative;
  }



  #toggle{
    display:none;
  }

  label {
    display:flex;
    align-items: center;
    gap:5px;
    
    img{
      height:35px;
      border-radius: 25px;
    }
    img:nth-child(2){
      height: 16px;
    }
  } 

  .submenu{
   backdrop-filter:blur(8px);
  position:absolute;
  z-index: 2;
  left:0;
  right:0;
  top:70px;
  background-color: rgba(0,0,0,0.5);
  display:none;
  width: 100%;
  padding:25px 20px;

  
  }

  h1{
    font-size: 16px;
  }
  span{
    font-size: 11px;
  }

  ul li a{
    color:rgba(255,255,255,0.7);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    display:flex;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
  }

  section:nth-child(3){
    display:flex;
    align-items: center;
    gap:10px;
    
    img{
      height: 20px;
    }

    
  }

}

#toggle:checked + label + .submenu{
  display:flex;
  flex-direction: column;
  width: auto;
}



/* -------- DESSERT ARTICLE (C) -------- */ 

.dessertArticle{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  padding:80px 0;


  header{
    display: flex;
    margin: 0 30px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding: 20px 0;
    padding-left: 35px;
    gap:10px;

    h1{
      font-size: 20px;
    }
    span{
      font-size: 12px;
    }
  }

  header > span{
      font-size: 12px;
      background-color: #151515;
      padding:6px;
      border-bottom: 1px solid rgba(255,255,255,0.5);
      height:fit-content;
    }
  
  div{
    position:relative;
    width:300px;
    margin-top: 20px;

    ul{
      position:absolute;
      top:0;
      right:0;
      display:flex;
      flex-direction: column;
      align-items: end;
      gap:4px;

      li{
        font-size: 8px;
        background-color: #252525;
        padding:6px;
        border-radius: 4px;
        width: fit-content;
        color:white;
      
      }
    }
    img{
      height: 200px;
    }
  } 

  footer{
    margin: 10px 0;
    width:300px;
    display:flex;
    align-items: center;
    height: fit-content;
    
    img{
      height: 16px;
    }
    
    .line{
      display:flex;
      border:1px solid rgba(255,255,255,0.2);
      width:100%;
      height: fit-content;
    }
    
    div{
      margin:0;
      padding:0 10px;
      display:flex;;
      flex-direction: column;

      span{
        font-size: 10px;
      }
    }
  }

  p{
    font-size: 9px;
    padding:0 35px;
    margin-bottom: 20px;
    line-height:1.6;
  }


}

/* -------- HOME PAGE (P)-------- */ 

.homePage{
  padding-top: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
}


/* -------- FOOTER (C)-------- */ 

.footer{
  border-top:1px solid rgba(255,255,255,0.3);
  padding:30px 20px;
  
  section:nth-child(1){
    display:flex;
    gap:20px;

    img{
      height:16px;
    }
  }
  
  section:nth-child(2){
    margin:35px 0;
    display:flex;
    flex-direction: column;
    gap:25px;
    
    details summary span{
      font-size: 14px;
    }
    details {
              font-weight: 200;

      summary{
        font-weight: 300;
        font-size: 14px;
        list-style: none;
        display:flex;
        justify-content: space-between;
        
        img{
          height:16px;
        }
        
        
      } 
      ul {
        margin-top:10px; 
        li{
          margin-bottom: 10px;

          
          a{
            font-size: 13px;
            color:rgba(255,255,255,0.5);
          }
        } 
        } 
    }
  }

  section:nth-child(3){
    display:flex;
    font-size: 8px;
    justify-content: space-between;
    line-height: 1.8;

    div{
      display:flex;
      gap: 5px;
      
      img{
        height:24px;
      }
    }
  }

}

